aws_region         = "ap-south-1"
domain_name        = "neutrondev.in"
ecr_repository_name = "sharebite-app"
ecs_cluster_name   = "sharebite-cluster"
database_url = "postgresql://neondb_owner:YOUR_PASSWORD@YOUR_HOST/neondb?sslmode=require&channel_binding=require"
jwt_secret = "super-secret-key-sharebite-2024"
r2_account_id      = ""
r2_access_key_id   = ""
r2_secret_access_key = ""
r2_bucket_name     = "sharebite"
r2_public_domain   = "https://pub-f52c80e42ca24e4b939af0c67a57ec9b.r2.dev"
next_public_mapbox_token = ""
redis_url = "redis://:YOUR_PASSWORD@YOUR_HOST:PORT"
internal_ws_url = "http://localhost:8081"
openai_api_key = ""
groq_api_key   = ""
resend_api_key = ""
next_public_cloudflare_turnstile_site_key = ""
cloudflare_turnstile_secret_key           = ""
rapidapi_key  = ""
rapidapi_host = "google-api31.p.rapidapi.com"

